# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production / build
/build
/dist
/dist-ios
src-tauri/target/
src-tauri/gen/apple/build/
src-tauri/gen/apple/Externals/

# devtools data
/devtools/bot-joiner/config.json
/devtools/data
/devtools/znc-data

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

test/reports
test/reports/**